<p id="notice"><%= notice %></p>

<%= image_tag @art.image.url %>

<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @art.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
